
.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 10px 15px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

// Form

.form {
    width: 100%;
    max-width: 650px;
    min-height: 500px;
    padding: 40px;
    background-color: #ffff;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(26, 26, 26, 0.1);
}