
.wrapper {
    width: 100%;
    background-color: #ffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)!important;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;

    &.dark {
        background-color: #242526;
        box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.25),0 3px 10px 0 rgba(0,0,0,.2)!important;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 65px;
    padding: 0px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

// button bars

.button-bars {
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    svg {
        display: block;
        width: 20px;
        fill: #262626;
    }
}

.dark svg {
    fill: #ffff;
}

// Search

.search {
    // width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .search-input {
        color: #000;
        margin-right: 15px;
        padding: 8px 25px 8px 15px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background-color: transparent;
        outline: 0px;
        transition: 0.2s;

        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
}

.search-input:focus {
    width: 100% !important;
}

.dark {
    .search-input {
        color: #ffff;
        border: 1px solid #ffff;
    }
}

// action

.action {
    display: flex;
    align-items: center;
}

.grid-item {
    &:hover>.item {
        color: rgb(0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0.08) !important;

        svg {
            fill: rgb(0, 0, 0) !important;
        }
    }
}

.dark {
    .grid-item {
        &:hover>.item {
            color: rgb(255, 255, 255) !important;
            background-color: rgba(255, 255, 255, 0.08) !important;
    
            svg {
                fill: rgb(255, 255, 255) !important;
            }
        }
    }
}

.item {
    padding: 8px 15px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-radius: 4px;
    transition: 0.1s;
    position: relative;

    display: flex;
    align-items: center;

    .item-title {
        flex: 1;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .item-icon {
        width: 20px;
        svg {
            width: 20px;
            display: block;
            fill: rgba(0, 0, 0, 1);
        }
    }
}

.dark {
    .item {
        color: rgba(255, 255, 255, 0.5);
    
        .item-title {
        }
        .item-icon {
            svg {
                fill: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

// Response 

@media (max-width: 990px) {
    .action {
        display: none !important;
    }
    .search-input {
        width: 110px;
    }
}