
.navheader {
    width: 100%;
    height: var(--header-height);
}

.wrapper {
    top: 0px;
    width: 100%;
    background-color: #ffff;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;

    &.dark {
        background-color: var(--header-color-dark);
        border-bottom: 1px solid rgb(84, 91, 100);
        box-shadow: none;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    height: var(--header-height);
    padding: 0px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

// button bars

.button-bars {
    cursor: pointer;
    margin-right: 15px;
    padding: 10px 12px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
    svg {
        display: block;
        width: 20px;
        fill: #262626;
    }
}

.dark {
    .button-bars {
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
        svg {
            fill: #ffff;
        }
    }
}

// Logo

.grid-logo {
    cursor: pointer;

    .image-logo {
        height: 45px;
        display: block;
    }
}

// Search

.search {
    // width: 100%;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .search-input {
        color: #000;
        padding: 10px 10px 10px 15px;
        font-size: 17px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background-color: transparent;
        outline: 0px;
        transition: 0.2s;
    }
}

.grid-search {
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-input:focus {
    padding-right: 40px;
    width: 100% !important;
}

.search-input.focusInput {
    padding-right: 40px;
    width: 100% !important;
}

.dark {
    .search-input {
        color: #ffff;
        border: 1px solid #ffff;
    }
}

.search-input-icon {
    top: 0px;
    right: 8px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    transform: translateY(30%);

    &:hover {
        background-color: var(--color-hover-light);
    }
    svg {
        width: 16px;
        height: 16px;
        margin: 5px;
        display: block;
    }
}

// action

.action {
    display: flex;
    align-items: center;
}

.grid-item {
    &:hover>.item {
        color: rgb(0, 0, 0) !important;
        background-color: rgba(0, 0, 0, 0.08) !important;

        svg {
            fill: rgb(0, 0, 0) !important;
        }
    }
}

.dark {
    .grid-item {
        &:hover>.item {
            color: rgb(255, 255, 255) !important;
            background-color: rgba(255, 255, 255, 0.08) !important;
    
            svg {
                fill: rgb(255, 255, 255) !important;
            }
        }
    }
}

.item {
    padding: 8px 15px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;

    display: flex;
    align-items: center;

    .item-title {
        flex: 1;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .item-icon {
        width: 20px;
        svg {
            width: 20px;
            display: block;
            fill: rgba(0, 0, 0, 1);
        }
    }
}

.dark {
    .item {
        color: var(--text-title-color-dark);
    
        .item-title {
        }
        .item-icon {
            svg {
                fill: var(--text-title-color-dark);
            }
        }
    }
}

// Response 

@media (max-width: 990px) {
    .action {
        display: none !important;
    }
    .search-input {
        width: 110px;
    }
}