
.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 25px 15px 35px 15px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

// Form

.form {
    width: 100%;
    max-width: 650px;
    min-height: 500px;
    padding: 40px;
    background-color: var(--bg-form-color-light);
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(26, 26, 26, 0.1);

    transition: 0.2s;
}

.wrapper.dark {
    .form {
        background-color: var(--bg-form-color-dark) !important;
    }
    .form-input {
        color: #ffff !important;
        background-color: transparent !important;
        &:focus {
            border: 2px solid #ffff !important;
        }
    }
    .form-title {
        color: var(--text-title-color-dark) !important;
    }
    .icon-eye-password {
        svg {
            fill: var(--text-title-color-dark) !important;
        }
    }
    .devider-double {
        border-top: 1px solid var(--text-color-dark) !important;
    }
}

// Logo

.grid-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;

    .image-logo {
        height: 70px;
        display: block;
    }
}

// icon show and hiddent password

.icon-eye-password {
    top: 0px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(30%);
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }
    svg {
        display: block;
        width: 18px;
    }
}

// Button icon

.button-icon {
    margin-right: 10px;
    svg {
        width: 20px;
        display: block;
        fill: #ffff;
    }
}

// Devider

.devider-double {
    width: 100%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

// Response

@media (max-width: 765px) {
    .container {
        padding: 0px 0px !important;
    }
}

@media (max-width: 640px) {
    .image-logo {
        height: 60px !important;
    }
}

@media (max-width: 540px) {
    .form {
        padding: 20px 15px !important;
    }
}