
.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 25px 15px 35px 15px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

// Form

.form {
    width: 100%;
    max-width: 650px;
    min-height: 500px;
    padding: 40px;
    border-radius: 4px;
    background-color: var(--bg-form-color);
    box-shadow: var(--shadow-form-color);

    transition: 0.2s;
}

.form-input {
    color: var(--text-title-color) !important;
    background-color: transparent !important;

    &:focus {
        box-shadow: 0px 0px 0px 1px var(--focus-input-shadow-color) inset !important;
    }
}

.form-title {
    color: var(--text-title-color) !important;
}

// Logo

.grid-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;

    .image-logo {
        height: 70px;
        display: block;
        transition: height 0.2s;
    }
}

// icon show and hiddent password

.icon-eye-password {
    top: 50%;
    right: 8px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--bg-hover-color);
    }
    svg {
        width: 18px;
        height: 18px;
        fill: var(--text-title-color);
        display: block;
    }
}

// Button icon

.button-icon {
    left: 0px;
    padding: 0px 15px;
    position: absolute;
    border-right: 1px solid #ccc;
    
    svg {
        width: 20px;
        display: block;
        fill: #ffff;
    }
}

// Devider

.devider {
    width: 100%;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid var(--border-color);
}

// Response

@media (max-width: 765px) {
    .container {
        padding: 0px 0px !important;
    }
}

@media (max-width: 640px) {
    .image-logo {
        height: 50px !important;
    }
    .buton-login {
        padding-top: 10px !important;
        padding-bottom: 10px !important;

        svg {
            width: 16px !important;
        }
    }
    .form-title {
        font-size: 15px !important;
    }
    .form-input {
        font-size: 16px !important;
        height: 34px !important;
        padding: 6px 15px !important;
    }
}

@media (max-width: 540px) {
    .form {
        padding: 20px 15px !important;
    }
}