:root {
    --header-height: 65px;

    --text-color: rgba(0, 0 ,0 , 1);
    --text-title-color: #000;

    --bg-navbar-color: #ffff;
    --bg-hover-color: rgba(0, 0, 0, 0.08);

    --bg-form-color: #ffff;
    --shadow-form-color: 0px 0px 0px 1px rgba(26, 26, 26, 0.1);

    --header-color: #ffff;
    --footer-color: #ffff;
    
    --border-color: rgba(0, 0, 0, 0.1);
    --border-input-color: #ccc;

    --text-hover-color: rgb(0 ,0 , 0);
    --text-hover-color-light: rgb(0, 0, 0);
    --text-hover-color-dark: rgb(255, 255, 255);

    --focus-input-shadow-color: rgb(59 73 223);

    --focus-input-border-color: #1b74e4;;
    --focus-input-box-shadow-color: 0 0 0 2px #e7f3ff;;

    .dark {
        --text-color: rgba(255, 255, 255, 0.5);;
        // --text-title-color: #eaeded;
        --text-title-color: #ffff;

        --bg-navbar-color: #232f3e;
        --bg-hover-color: rgba(255, 255, 255, 0.08);
        --bg-form-color: #21252c;

        --header-color: #232f3e;
        --footer-color: #232f3e;

        --border-color: rgb(84, 91, 100);
        --border-input-color: #ffff;

        --text-hover-color: rgb(255, 255, 255);

        --focus-input-shadow-color: #ffff;

    }
}

body {
    -webkit-tap-highlight-color: transparent;
}

// Card

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
}

.wrapper {
    transition: 0.2s;
}

.dark {
    background-color: #16191f;
}
