
.wrapper {
    width: 100%;
    padding: 50px 0px;
    border-top: 1px solid var(--border-color);
    background-color: var(--footer-color);

    transition: 0.2s;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Logo

.grid-logo {
    padding: 10px 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s;

    &:hover {
        background-color: var(--bg-hover-color);
    }
    .image-logo {
        height: 50px;
        display: block;
    }
}

// Text

.copytright {
    color: var(--text-title-color);
    font-size: 18px;
    text-align: center;
}

// Response

@media (max-width: 540px) {
    .copytright {
        font-size: 16px !important;
    }
}