.wrapper {
    width: 100%;
    max-width: 300px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--bg-navbar-color);
    padding: 15px 15px 45px 15px;
    position: absolute;
    z-index: 1000;

    opacity: 0.9;
    transform: translateX(-100%);
    transition: all 0.3s ease;

    &.active {
        opacity: 1;
        transform: translateX(0%);
    }
}

// Header navbar

.navbar-header {
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Logo

.image-logo {
    height: 45px;
    display: block;
}

// Button close navbar

.button-close {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;

    svg {
        width: 24px;
        height: 24px;
        fill: var(--text-title-color);
        display: block;
    }
    &:hover {
        background-color: var(--bg-hover-color);
    }
}

// Item

.list-item {
}

.grid-item:hover > .item {
    background-color: var(--bg-hover-color);
    
    svg {
        fill: var(--text-hover-color) !important;
    }
    .item-title {
        color: var(--text-hover-color) !important;
    }
}

.item {
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    position: relative;

    display: flex;
    align-items: center;

    .item-title {
        flex: 1;
        color: var(--text-color);
        font-size: 16px;
        padding-left: 15px;
        padding-right: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .item-icon {
        width: 20px;
        svg {
            width: 20px;
            display: block;
            fill: var(--text-color);
        }
    }
    .iconArrowTop {
        transition: 0.2s;
        transform: rotate(0deg);
        svg {
            width: 14px;
            fill: var(--text-color);
            display: block;
            transform: translateY(10%);
        }
    }
}

.iconArrowTop.active {
    transform: rotate(-180deg);
}

.dropdown {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 0px;

    transition: height 0.3s ease-out;
}

.dropdown .list-item {
    display: flex;
    flex-wrap: wrap;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;

    .itemChild:hover {
        background-color: var(--bg-hover-color);

        .itemChild-title {
            color: var(--text-hover-color);
        }
    }
}

.dropdown.active {
    display: block;
    height: 1104px;
}

.itemChild {
    width: 50%;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 15px;
    background-color: initial;

    transition: 0.2s ease;

    .itemChild-title {
        color: var(--text-color);
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;

        transition: 0.2s ease;
    }
}

// Animation

@keyframes fadeInNavbar {
    0% {
        opacity: 0.6;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
